<h1>Dashboard</h1>
    <ul>
      <li>{{input value=name insert-newline='reload'}}</li>
      <li>{{input value=order insert-newline='reload'}}</li>
      <li {{ action "reload"}}> Reload! </li>
</ul>
<ul>
 {{#each Model.coworkers as |coworker|}}

  {{#link-to 'dashboard.coworker' coworker}}
<li>
  <strong>
    ({{coworker.kudos_total_value}})
  </strong>
  {{coworker.fullName}}
</li>
{{/link-to}}
{{else}}
Nobody is registered...yet.
{{/each}}
</ul>
